* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body,
html {
  height: 100%;
  background-color: aliceblue;
}
header {
  background-color: rgb(230, 229, 229);
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex: 1;
}

.nav .dropdown,
.menu button {
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.nav-links {
  /* background-color: #ffffff; */
  transform: scaleY(0);
  transform-origin: top;
  text-align: center;
  z-index: 2;
}

.nav-links .links {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 1px 3px gray;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 20px 20px;
}

.nav-links.visible {
  transform: scaleY(1);
}
.nav-item {
  padding: 10px 0;
}
.nav-item:hover {
  cursor: pointer;
  background-color: aliceblue;
}
.mobile {
  height: 100%;
  background-color: rgb(195, 192, 192);
  transform: scaleX(0);
  transform-origin: left;
  border-top-right-radius: 10px;
  width: 25%;
  padding: 30px 0;
  z-index: 1;
}

.mobile-menu .menu-list {
  display: flex;
  flex-direction: column;
}
.mobile-menu .menu-item {
  padding: 20px;
}
.mobile.visible {
  position: absolute;
  left: 0;
  transform: scaleX(1);
}
.hidden {
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.nav-links.visible {
  position: static;
}

.slider {
  width: 100%;
  padding: 0 20px;
  display: flex;
  height: 70vh;
  position: relative;
}

.slide {
  display: none;
  width: 100%;
}

img {
  width: 100%;
  max-height: 100%;
}

.next {
  position: absolute;
  right: 30px;
  display: flex;
  height: 100%;
  align-items: center;
}
.prev {
  position: absolute;
  left: 30px;
  display: flex;
  height: 100%;
  align-items: center;
  background-color: transparent;
}
.next button:hover, .prev button:hover {
  background-color: rgba(red, green, blue, alpha);
  padding: 5px 10px;
  font-size: 3rem;
}

.dots {
  display: flex;
  position: absolute;
  gap: 15px;
  bottom: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid wheat;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
