* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body,
html {
  height: 100%;
  background-color: aliceblue;
}
header {
  background-color: rgb(230, 229, 229);
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex: 1;
}

.nav .dropdown,
.menu button {
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.nav-links {
  background-color: #ffffff;
  transform: scaleY(0);
  transform-origin: top;
  text-align: center;
  z-index: 1;
}

.nav-links .links {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  gap: 10px;
  width: 100%;
  padding: 10px 0;
}

.nav-links.visible {
  transform: scaleY(1);
}

.mobile {
  height: 100%;
  background-color: rgb(195, 192, 192);
  transform: scaleX(0);
  transform-origin: left;
  border-top-right-radius: 10px;
  width: 25%;
  padding: 30px 0;
}

.mobile-menu .menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mobile-menu .menu-item {
    margin-left: 30px;
}
.mobile.visible {
    position: absolute;
    left: 0;
    transform: scaleX(1);
}
.hidden {
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.nav-links.visible {
  position: static;
}
